<header>
  <div class="navigation">
    <h1>I am in the top</h1>
  </div>
</header>

<main>
  <div class="body-container">
    <div class="left-side-container">
      <p>I am in the left side</p>
    </div>

    <div class="main">
      <div class="main-title">Pokemon</div>

      <ul>
        <li *ngFor="let pokemon of pokemons$ | async">
          <app-accordion [pokemon]="pokemon"></app-accordion>
        </li>
      </ul>
    </div>
  </div>
</main>

<footer>
  <p>I am in the bottom</p>
</footer>
